.layout {
	// background: url('/images/christine-roy-343235-unsplash.jpg');
	background: url('/images/jordan-whitfield-112404-unsplash.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.login-title {
		margin: 0 0 $m-size 0;
	}
}

.login-layout {
	background: fade-out($color: #efefef, $amount: 0.1);
	border-radius: 10px;
	text-align: center;
	width: 30rem;
	padding: $l-size $m-size;
}
