.button {
	background-color: $button-base;
	border: none;
	color: #efefef;
	padding: 10px;
	font-family: $poor-story;
	font-size: $font-size-lg;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	margin-top: 7px;
	cursor: pointer;
	&:hover {
		background-color: $button-hover;
		transition: background-color 0.3s ease-in;
	}
}

.button--link {
	background: none;
	cursor: pointer;
	transition: font-weight 0.3s ease;
	&:hover {
		background: none;
		font-weight: bold;
	}
}

.button-other {
	@extend .button;
	background: gray;
	@media (min-width: $desktop-breakpoint) {
		margin-top: $m-size;
		margin-bottom: $m-size;
	}
}
