.button {
	background-color: $button-base;
	border: none;
	color: #efefef;
	padding: 10px;
	font-size: $font-size;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	cursor: pointer;
	&:hover {
		background-color: $button-hover;
		transition: background-color 0.3s ease-in;
	}
}

.button--link {
	background: none;
	cursor: pointer;
}

.button-other {
	background: gray;
}
