.page-header {
	background: $light-grey;
	padding: $l-size 0;
	margin-bottom: $l-size;
	.page-header-title {
		margin: 0;
		font-weight: 300;
		span {
			font-weight: bold;
		}
	}
	.page-header-action {
		margin-top: $m-size;
	}
}
