html {
  font-size: 62.5%;
}

body {
  // background: $dark-blue;
  padding: 20px;
  margin: auto;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: monospace;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}


