html {
	font-size: 62.5%;
}

body {
	// background: $dark-blue;
	margin: auto;
	// font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: $m-size;
	h1 {
		color: #ccc7c3;
	}
	li {
		color: #ccc7c3;
	}

	a:hover {
		color: #14b278;
	}
	p {
		color: #ccc7c3;
	}
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}
