// Screen sizes
$desktop-breakpoint: 1008px;

// Spacing values
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Colors
$dark-grey: #333;
$light-grey: #f7f7f7;
$mid-grey: #666;
$button-base: #3c6dd7;
$button-hover: #25507f;
$dark-blue: #212c40;

// Font sizing
$font-size-lg: 1.8rem;
$font-size-sm: 1.4rem;

//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poor+Story');

//Font Variables
$poor-story: 'Poor Story', cursive;
$montserrat: 'Montserrat', sans-serif;
